.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #0663fa;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #313123;
    font-size: 5rem;
    color: #eef107;
}

p {
    font-size: 2rem;
    font-weight: bold;
    color: #eef107;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #eef107;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.btn {
    margin: 24px;
    font-weight: bold;
    color: #0663fa;
   
}
.btn:hover {
        background-color: #0663fa;
        color:#eef107;
    
    }